DATABASE_URL=""
NEXT_PUBLIC_APP_URL="http://localhost:3456"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/login"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/login"
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL="/"
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL="/"

NOWPAYMENTS_API_KEY=""
NOWPAYMENTS_IPN_SECRET=""
NOWPAYMENTS_API_URL="https://api-sandbox.nowpayments.io/v1"
NOWPAYMENTS_PAY_CURRENCY="all"

TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""
DISCORD_WEBHOOK_URL=""
DISCORD_FRAUD_WEBHOOK_URL=""

FLEXAGIFT_MODE="mock"
FLEXAGIFT_API_URL=""
FLEXAGIFT_API_KEY=""
FLEXAGIFT_BALANCE_IDR="1000000"
FLEXAGIFT_REPLENISH_THRESHOLD_IDR="250000"
FLEXAGIFT_REPLENISH_TARGET_IDR="1000000"
TREASURY_SUPPLIER_COST_RATE="0.95"
